// основные цвета
$background-color: #22242b;
$main-color: #292d38;
$purple: #7569d1;
$orange: #ee8760;
$color-text: #d8dbdf;

// дополнительные цвета
$bgc-mobile-color: #860dd2ef;
$bgc-active-color: #7569d115;

